h3{
    display: inline-block;
    margin-bottom: 50px;
}

.elemento{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    border-radius: 8px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    
}

.caixa{
    width: 80px;
    height: 80px;
    background-color: bisque;
    border: 2px solid red;
}